version: '3.9'
services:
  nginx:
    environment:
      FIELD_ENCRYPTION_KEY: "${FIELD_ENCRYPTION_KEY:-}"
      GENERATE_TLS_CERTIFICATE: 'true'
      USE_TLS: 'true'

  uwsgi:
    environment:
      FIELD_ENCRYPTION_KEY: "${FIELD_ENCRYPTION_KEY:-}"
      DD_SESSION_COOKIE_SECURE: 'True'
      DD_CSRF_COOKIE_SECURE: 'True'
      WEBHOOK_SECRET: "${WEBHOOK_SECRET:-}"
      GITHUB_APP_ID: "${GITHUB_APP_ID:-}"
      CLIENT_ID: "${CLIENT_ID:-}"
      NAME: "${NAME:-}"
      WEBHOOK_TYPE: "${WEBHOOK_TYPE:-}"
      PRIVATE_KEY: "${PRIVATE_KEY:-}"
    volumes:
      - type: bind
        source: ./docker/extra_settings
        target: /app/docker/extra_settings
      - defectdojo_media:${DD_MEDIA_ROOT:-/app/media}

  celerybeat:
    environment:
      FIELD_ENCRYPTION_KEY: "${FIELD_ENCRYPTION_KEY:-}"
    volumes:
      - type: bind
        source: ./docker/extra_settings
        target: /app/docker/extra_settings

  celeryworker:
    environment:
      FIELD_ENCRYPTION_KEY: "${FIELD_ENCRYPTION_KEY:-}"
      C_FORCE_ROOT: '1'
      DOCKER_HOST: unix:///var/run/docker.sock
      DOCKER_BUILDKIT: 1
      DD_CELERY_WORKER_POOL_TYPE: prefork
      DD_CELERY_WORKER_CONCURRENCY: 6
      DD_CELERY_WORKER_AUTOSCALE_MAX: 8
      DD_CELERY_WORKER_AUTOSCALE_MIN: 2
      DD_CELERY_WORKER_PREFETCH_MULTIPLIER: 1
      DD_CELERY_LOG_LEVEL: INFO
    user: 0:0
    volumes:
      - type: bind
        source: ./docker/extra_settings
        target: /app/docker/extra_settings
      - defectdojo_media:${DD_MEDIA_ROOT:-/app/media}
      - /var/run/docker.sock:/var/run/docker.sock
      - /tmp/aist/:/tmp/aist/

  initializer:
    environment:
      FIELD_ENCRYPTION_KEY: "${FIELD_ENCRYPTION_KEY:-}"
      WEBHOOK_SECRET: "${WEBHOOK_SECRET:-}"
      GITHUB_APP_ID: "${GITHUB_APP_ID:-}"
      CLIENT_ID: "${CLIENT_ID:-}"
      NAME: "${NAME:-}"
      WEBHOOK_TYPE: "${WEBHOOK_TYPE:-}"
      PRIVATE_KEY: "${PRIVATE_KEY:-}"
    volumes:
      - type: bind
        source: ./docker/extra_settings
        target: /app/docker/extra_settings

  postgres:
    ports:
      - 127.0.0.1:5432:5432

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin4
    depends_on:
      postgres:
        condition: service_started
    environment:
      PGADMIN_DEFAULT_EMAIL: "${PGADMIN_DEFAULT_EMAIL:-}"
      PGADMIN_DEFAULT_PASSWORD: "${PGADMIN_DEFAULT_PASSWORD:-}"
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  defectdojo_postgres:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /root/work/aist/db
  pgadmin_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /root/work/aist/pgadmin_data
